FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=your-secret-key-here-change-this

# Cloudinary Configuration (for persistent image storage on Vercel)
CLOUDINARY_CLOUD_NAME=dhpootkd3
CLOUDINARY_API_KEY=113691879617237
CLOUDINARY_API_SECRET=dVg2wWbGZ7-b7ITFjBuYvFS9MwY

# Optional MongoDB Configuration
MONGO_URI=mongodb+srv://monisola:portfolio2026@cluster0.eaer1cp.mongodb.net/?appName=Cluster0
